* {
    margin:0;
    padding:0;
}




main {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(233, 47%, 7%);
}
.card {
    display:flex;
    width:750px;
    height:300px;
    border-radius: 5px;
    background-color: hsl(244, 38%, 16%);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.imgcontainer {
    display:flex;
}

.img {
    width:375px;
    border-radius: 0 5px 5px 0;
    background-color: purple;
    
    
}
.imgover {
    content: "";
    background-color: hsla(277, 95%, 46%, 0.5);
    position: absolute;
    height: 300px;
    width: 375px;
    top: 50;
    left: 50;
    z-index: 2;
    border-radius: 0 5px 5px 0;
  }



.text {
    display: flex;
    flex-direction: column;
    margin:50px;
    font-family: 'Inter', sans-serif;
    height:250px;
    
}
.para {
    font-size: 12.5px;
    color:hsla(0, 0%, 100%, 0.75);
}
.title {
    font-size: 25px;
    margin-bottom:15px;
    color:hsl(0, 0%, 100%);
}
span {
    color:hsl(277, 64%, 61%);
}
.footer {
    height:75px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right:25px;
    text-transform: uppercase;
    
    
}

.words {
    font-size: 10px;
    color:hsla(0, 0%, 100%, 0.6);
}
.number {
    color:hsl(0, 0%, 100%);
}