* {
    margin:0;
    padding:0;
}

main {
    border:1px solid black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card {
    display:flex;
    flex-direction: row-reverse;
    border:1px solid black;
    width:75vw;
    height:40vh;
    border-radius: 10px;
}

.img {
    width:37.5vw;
    border-radius: 0 10px 10px 0;
}