* {
    margin:0;
    padding:0;
}


main {
    border:1px solid black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(233, 47%, 7%);
}
.card {
    display:flex;
    width:750px;
    height:300px;
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%);
    flex-basis:auto;
    color:white;
}

.img {
    width:375px;
    border-radius: 0 10px 10px 0;
    
}
.footer {
    display:flex;
}
.text {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    margin:25px;
    font-family: 'Inter', sans-serif;
    
}